<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navbar') %>

        <section id="hero">
            <center>
                <h1>Hola! <br>Mi Nombre es</h1>
            </center>
            <center>
                <p class="saludo">Lucio Antonio Alvarado Molina</p>
            </center>
            <br>
            <center>
                <a target="_blank" href="https://mx.linkedin.com/in/lucio-antonio-alvarado-molina-a472a718b"><button
                        class="hero">Linkedin</button></a>
                <a target="_blank" href="https://github.com/alvamau5"><button class="hero">GitHub</button></a>

        </section>
        <%- include('partials/footer') %>
</body>

</html>