<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navbar') %>
        <section id="sobre-mi">
            <div class="container">
                <a target="_blank" href="https://twitter.com/alvamau5">
                    <div class="img-container"></div>
                </a>
                <div class="texto">

                    <h2>¿Quien Soy?</h2>
                    <p>Soy Ingeniero Civil de profesión, programador por pasión y autodidacta de corazon. Buscando
                        aprender
                        cada día algo nuevo, apasionado por la
                        tecnología, si algo de mi es bueno, es que quiero siempre saber sobre lo ultimoen las TI
                        actualizandome dia con dia. De mis Soft Skill, tengo desarrolladas en desarrllo web como lo son
                        HTML, CSS y JavaScirpt. Pero mi primer lenguaje que me incursiono en la programacion es Java a
                        un nivel intermedio.
                    </p>
                </div>
                <div>
                    <a href="https://www.freecodecamp.org/learn/responsive-web-design/" target="_blank"
                        rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                            alt="html5" width="40" height="40" />
                    </a>
                    <a href="https://www.freecodecamp.org/learn/responsive-web-design/" target="_blank"
                        rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                            alt="css3" width="40" height="40" />
                    </a>
                    <a href="https://www.freecodecamp.org/espanol/news/tag/javascript/" target="_blank"
                        rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                            alt="javascript" width="40" height="40" />
                    </a>
                    <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img
                            src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40"
                            height="40" />
                    </a>
                    <a href="https://www.java.com" target="_blank" rel="noreferrer"> <img
                            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
                            alt="java" width="40" height="40" />
                    </a>
                </div>
            </div>
        </section>
        <%- include('partials/footer')%>
</body>

</html>